.DS_Store
outputs.csv
linear_layer.pth
__pycache__/customloader.cpython-311.pyc
__pycache__/customloader.cpython-312.pyc
__pycache__/model.cpython-311.pyc
__pycache__/model.cpython-312.pyc
__pycache__/trainer.cpython-311.pyc
__pycache__/trainer.cpython-312.pyc
data/full_data.csv
data/parallel_results.pkl
data/test1.jpeg
data/test2.csv
data/test3.csv
data/test4.csv
data/train2.csv
data/train3.csv
data/train4.csv
